.register__signin {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  margin-top: 15px;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.register__signin:hover {
  opacity: 0.6;
}

@media screen and (max-width: 881px) {
  .register__signin {
    margin-top: 20px;
  }
}