.header {
  max-width: 880px;
  width: 100%;
  margin: 0;
  padding: 45px 0 0 0;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 881px) {
  .header {
    padding-top: 28px;
  }
}